body {
  background-color: #00CCFF; /* #4B7399; */
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  /*border: solid 1px red; */ 
  height: 130px;
  }

#header_left {
  /*border: solid 1px green; */
  transform: translate(-100px,0px);
	-ms-transform: translate(-100px,0px); /* IE 9 */
	-webkit-transform: translate(-100px,0px); /* Safari and Chrome */
	-o-transform: translate(-100px,0px); /* Opera */
	-moz-transform: translate(-100px,0px); /* Firefox */
}

#header_right {
  /*border: solid 1px blue; */
}
	
#session_status {
	float: right;
	/*border: solid 1px black; */
	}

#subtitle{
	float: left;
	transform: translate(-250px,-45px) rotate(10deg);
	-ms-transform: translate(-250px,-45px) rotate(10deg); /* IE 9 */
	-webkit-transform: translate(-250px,-45px) rotate(10deg); /* Safari and Chrome */
	-o-transform: translate(-250px,-45px) rotate(10deg); /* Opera */
	-moz-transform: translate(-250px,-45px) rotate(10deg); /* Firefox */
	z-index: 99;
	
	-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
	box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);

	-webkit-transition: all 0.5s ease-in;
	/*border: solid 1px black; */ 
}

#subtitle:hover {
	z-index: 999;
	border-color: #6A6A6A;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: translate(-250px,-45px) rotate(0deg) scale(1.05);
	-moz-transform: translate(-250px,-45px) rotate(0deg) scale(1.05);
	transform: translate(-250px,-45px) rotate(0deg) scale(1.05);	
}


#logo {
	float: left;
	/*border: solid 1px black; */
	}

input.sign_up_field{
	width: 140px;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

#container {
  /*position: relative;  Delete if causes trouble!*/
  width: 768px;/*75%;*/
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#bottom_nav
{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	border-top: 1px solid #999;
	z-index: 1;
}

#bottom_nav ul
{
	list-style-type: none;
	text-align: center;
	margin-top: -8px;
	padding: 0;
	position: relative;
	z-index: 2;
}

#bottom_nav li
{
	display: inline;
	text-align: center;
	margin: 0 5px;
}

#bottom_nav li a
{
	padding: 1px 7px;
	color: #666;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	text-decoration: none;
}

#bottom_nav li a:hover
{
	color: #000;
	border: 1px solid #00CCFF;
	border-top: 2px solid #00CCFF;
	border-bottom: 2px solid #00CCFF;
}

#top_nav ul
{
	transform: translate(20px,80px) scale(1.09);
	-ms-transform: translate(20px,80px) scale(1.09); /* IE 9 */
	-webkit-transform: translate(20px,80px) scale(1.09); /* Safari and Chrome */
	-o-transform: translate(20px,80px) scale(1.09); /* Opera */
	-moz-transform: translate(20px,80px) scale(1.09); /* Firefox */
	z-index: 99;
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
}

#top_nav li
{
	display: inline;
	list-style-type: none;
}

#top_nav a {
	padding: 6px 15px;
	margin: 5px 5px;
 }

#top_nav a:link, #top_nav a:visited
{
	color: #fff;
	background-color: #00DDFF;
	text-decoration: none;
	border: solid 1px black;
  border-radius:25px;
  -moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

#top_nav a:hover
{
	color: #fff;
	background-color: #00CCFF;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 2px 2px 2px rgba(0,0, 0, 0.4);
	box-shadow: 2px 2px 2px  rgba(0,0, 0, 0.4);
}


img.shit_bird {
	border-radius:25px;
	-moz-border-radius:25px; /* Firefox 3.6 and earlier */
	text-style: center;
}

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Microposts */

h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}

/* error messages*/
