<% title "About Shitter" %>
<p>
  Shitter is a place for people to post their shit. Had a shitty day? 
  Post a status on Shitter! Read about your friends' shit, send people
  shitty messages and follow your favorite shithead celebrities.
</p>
  Shitter doesn't do anything that Twitter can't do, and Twitter does
  everything better. Shitter attempts to make up for these shortfalls 
  with fancy CSS3 tricks and obscene language. 
</p>
<p>
	Shitter was created in three shitty days by Dominick Reinhold.
</p>

